.menu {
position: absolute;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-heart {
  z-index: 1;
  display: none;
  width: 40px;
  height: 70px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.329);
}

.menu-heart::after {
  content: "\2665";
}

.menu-heart:hover {
  color: red;
}

.menu-play-container {
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container__arrow {
  border-right: none;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
  border-top: 20px solid rgba(255, 255, 255, 0);
  border-bottom: 20px solid rgba(255, 255, 255, 0);
  border-left: 30px solid rgba(255, 255, 255, 0);
  margin-left: 10px;
}

.menu-play-container:hover {
  margin: 0;
  width: 100px;
  height: 100px;
  border-color: white;
}

.menu-play-container:hover .play-container__arrow {
  border-left-color: rgba(255, 255, 255);
  transform: scale(1.4);
}

.menu-hamburger::after {
  content: "...";
}

.menu-hamburger {
  padding-bottom: 60px;
  width: 40px;
  font-size: 70px;
  display: none;
  color: rgba(255, 255, 255, 0.329);
  z-index: 1;
}

.menu-hamburger:hover {
  color: white;
}
